---
http_interactions:
- request:
    method: get
    uri: https://api-v3.mbta.com/routes?filter%5Btype%5D=0%2C1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:54 GMT
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '1579405620'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"attributes":{"color":"DA291C","description":"Rapid Transit","direction_destinations":["Ashmont/Braintree","Alewife"],"direction_names":["South","North"],"fare_class":"Rapid
        Transit","long_name":"Red Line","short_name":"","sort_order":10010,"text_color":"FFFFFF","type":1},"id":"Red","links":{"self":"/routes/Red"},"relationships":{"line":{"data":{"id":"line-Red","type":"line"}},"route_patterns":{}},"type":"route"},{"attributes":{"color":"DA291C","description":"Rapid
        Transit","direction_destinations":["Mattapan","Ashmont"],"direction_names":["Outbound","Inbound"],"fare_class":"Rapid
        Transit","long_name":"Mattapan Trolley","short_name":"","sort_order":10011,"text_color":"FFFFFF","type":0},"id":"Mattapan","links":{"self":"/routes/Mattapan"},"relationships":{"line":{"data":{"id":"line-Mattapan","type":"line"}},"route_patterns":{}},"type":"route"},{"attributes":{"color":"ED8[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Red
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Fri, 17 Jan 2020 21:14:47 GMT
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '998'
      x-ratelimit-reset:
      - '1579405620'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"attributes":{"name":"Alewife"},"id":"place-alfcl","links":{"self":"/stops/place-alfcl"},"relationships":{"child_stops":{},"facilities":{"links":{"related":"/facilities/?filter[stop]=place-alfcl"}},"parent_station":{"data":null},"recommended_transfers":{},"zone":{"data":null}},"type":"stop"},{"attributes":{"name":"Davis"},"id":"place-davis","links":{"self":"/stops/place-davis"},"relationships":{"child_stops":{},"facilities":{"links":{"related":"/facilities/?filter[stop]=place-davis"}},"parent_station":{"data":null},"recommended_transfers":{},"zone":{"data":null}},"type":"stop"},{"attributes":{"name":"Porter"},"id":"place-portr","links":{"self":"/stops/place-portr"},"relationships":{"child_stops":{},"facilities":{"links":{"related":"/facilities/?filter[s[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Mattapan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:57 GMT
      x-ratelimit-limit:
      [...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Orange
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:57 GMT
      x-ratelimit-limit:
      - [...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Green-B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:49 GMT
      x-ratelimit-limit:
      -[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Green-C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Fri, 17 Jan 2020 21:14:47 GMT
      x-ratelimit-limit:
      -[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Green-D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:49 GMT
      x-ratelimit-limit:
      -[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Green-E
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Thu, 16 Jan 2020 20:25:57 GMT
      x-ratelimit-limit:
      -[...]
- request:
    method: get
    uri: https://api-v3.mbta.com/stops?fields%5Bstop%5D=name&filter%5Broute%5D=Blue
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      X-API-Key:
      - "[REDACTED]"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json; charset=utf-8
      last-modified:
      - Fri, 17 Jan 2020 21:14:47 GMT
      x-ratelimit-limit:
      - '1[...]
